* {
    font-family: 'SF Mono';
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    /* Default Border */
    margin: 0px 0px;
    border: none;
    border-width: 0px;
    border-radius: 0px;
    outline-style: none;
    box-shadow: none;
    background-color: rgba(35, 33, 54, 0.8);

    /* Icon positioning & color */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    color: #FFFFFF;
    font-size:28px;
    text-shadow: none;
}

button:focus,
button:hover {
    background-color: rgba(156, 71, 180, 0.6);
    transition: all 0.2s cubic-bezier(.55,0.0,.28,1.682);
    background-size: 48%;
}

button:focus {
    margin: -40px 0px;
    border-radius: 40px;
}


/*
Buttons
-----------------------------------------------------
*/

#hibernate {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#reboot {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
